mixin styles(...styles)
  each css in styles
    link(rel="stylesheet", href=css)

mixin scripts(...scripts)
  each js in scripts
    script(src=js)

mixin description(desc)
  meta(name="description" content=desc)

mixin keywords(keys)
  meta(name="keywords" content=keys)

mixin list(heading, ...names)
  ul
    h5=heading
    each name in names
      li
        a(href="#")=name

mixin breadcrumbs(...names)
  ul.breadcrumbs&attributes(attributes)
    each name in names
      li.breadcrumbs__item
        a(href="#").breadcrumbs__link=name


mixin icon(name,mod)
  - mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
    use(xlink:href="img/svg/symbol/sprite.svg#" + name)

mixin content(h, head, ...p)
  if h
    #{h}=head
  else
    p=head
  each text in p
    p=text

mixin event(data)
  a.events-item-wrap
    .events-item&attributes(attributes)
      header.events-item__header
        .events-item__title= data.title
        .events-item__text= data.text
      footer.events-item__footer
        .events-item__data
          i.fa.fa-calendar-o
          = data.date
        .events-item__data
          i.fa.fa-clock-o
          = data.time
        .events-item__data
          i.fa.fa-map-marker
          = data.locate

mixin photo(data)
  a.photo-item&attributes(attributes)
    .photo-item__info
      header.photo-item__header
        .photo-item__title= data.title
        .photo-item__text= data.text
      footer.photo-item__footer
        .photo-item__data
          i.fa.fa-calendar-o
          = data.date
        .photo-item__data
          i.fa.fa-picture-o
          = data.count